<% if @restaurants.any? %>

  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <div id='description'><%= restaurant.description %></div><br>
    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %><br>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %><br>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %><br>


    <% restaurant.reviews.all.each do |review| %>
        <p>
          <strong>Thoughts:</strong> <%= review.thoughts %>
        </p>
        <p>
          <strong>Rating:</strong> <%= review.rating %>
        </p>
        --------------------------------------
    <% end %><br>

    <h3>Average rating:</h3>
      <p>
        <%= restaurant.average_rating.to_i %> out of 5
      </p>
      <p>
        <%= star_rating(restaurant.average_rating) %>
      </p>

  <% end %>

<% else %>

  <h1>No restaurants yet</h1>

<% end %>

<a href='/restaurants/new'>Add a restaurant</a>
